
<html>
    <head>
      <link rel="stylesheet" href="Content/HomePage.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
        <div class="home-page-body">
            <div class="home-page-text">
                <h2>Loveday and Lewis Family Recipes</h2>
            </div>
        </div>
</html>
