
<html>
    <head>
      <link rel="stylesheet" href="Content/HomePage.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
        <div class="home-page-body">
            <div class="home-page-text">
                <h2>Loveday and Lewis Family Recipes</h2>
                <p>Enjoy <span class="underline">all</span> the recipes from both sides of the family all in one location!</p>
                <p>Today&#39s Recipe is Apple Crisp</p>

            </div>
        </div>
</html>
