
<html>
    <head>
      <link rel="stylesheet" href="Content/HomePage.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h2>Recipes</h2>

        <p>It's Recipe Time Binch</p>
        <p>Todays Recipe is <span id="title"></span></p>

        <button onclick= "AppleCrisp()">Apple Crisp</button>

        <button id="api" onclick= "apiCheck()">api check</button>
    </body>
</html>
<script type="text/javascript">
    function AppleCrisp(recipeId) {
        var url = window.location.href;    
        if (url.indexOf('?') > -1){
            url += 'Recipe/Display'
            }
            else{
               url += 'Recipe/Display'
            }
        window.location.href = url;
    }

    function apiCheck() {
        $.getJSON("/api/recipe/applecrisp", function(result){
            debugger;
            $("#title").text(result.RecipeTitle);
        });
    }
</script>