
h2 {
    color: white;
    font-size: 300%;
}

p {
    color: white;
    font-size: 20px;
}

body {
    height: 100%;
}

.home-page-body {
    background-image: url(/Content/Images/home-page.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page-text {
    max-width: 500px;
    padding: 20px;
    text-align: center;
    float: right;
}
