/*Recipe Sytles*/
body {
    background-color: grey;
    display: inline-block;
    padding-bottom: 80px;
}

.recipe-page-body {
    margin-left: 20px;
    margin-top: 20px;
}

.recipe-page-body h1 {
    font-size: 50px;
    text-align: center;
}

.recipe-page-body .oven-heat {
    float: right;
    text-align: center;
    width: 50%;
}

.recipe-page-body .utensils {
    position: relative;
    width: 50%
}

.recipe-page-body h2 {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;    width: 100%;
}
.recipe-page-body li {
    color: black;
    font-size: 150%;
    float: none;
}

.recipe-page-body ul {
    list-style-type: square;
    background-color: grey;
}

.recipe-page-body .ingredients {
    width: 50%;
    float: left
}

.instructions {
    width: 50%;
    float: right;
}

/*Tools Sytles*/

.tools-icon {
    font-size: 30px;
    cursor: pointer;
    float: left;
    width: 100%;
}

/*Side bar styles*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px
}

    .sidenav .tool {
        padding: 8px 8px 8px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
        background-color: darkgray;
        border-color: black;
        border-style: solid;
        border-width: 5px 10px;
    }

    .sidenav tool:hover {
        color: #f1f1f1
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: gray;
    }

/*Temperature tool styles*/
.switch {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 25px
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3
}

input:checked + .slider:before {
    -webkit-transform: translateX(72px);
    -ms-transform: translateX(72px);
    transform: translateX(72px);
}

.slider:after {
    content: 'Fahrenheit';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif
}

input:checked + .slider:after {
    content: 'Celsius'
}

/*Scale styles*/
/* The container */
.radio-button {
    display: inline;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .radio-button input[type="radio"] {
        position: absolute;
        opacity: 0;
        cursor: pointer
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
    background-color: #ccc
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
    background-color: #2196F3
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
    display: block
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white
}

#scale-input {
    display: none;
    width: 40px;
}