body {
    

}
html {
    height: 100%;
}

.body-content {
    
    height: 100%;
}


input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ADBED2;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #001430;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none
    }

        li a:hover {
            background-color: #111
        }

header {
    width: 100%;
}